services:
  web:
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
  db:
    image: postgres:15
    volumes:
      # - ${DOCKER_DATA}/postgres_data:/var/lib/postgresql/data/
      - ./docker_data/postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=hello_django
      - POSTGRES_PASSWORD=hello_django
    env_file:
      - ./.env.dev
  pgadmin:
    image: dpage/pgadmin4
    volumes:
      - ./docker_data/data_pgadmin:/var/lib/pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=root
    ports:
      - "8080:80"
    env_file:
      - ./.env.dev
  elasticsearch:
    image: elasticsearch:8.19.2
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - ./docker_data/esdata:/usr/share/elasticsearch/data
    env_file:
      - ./.env.dev
