services:
  nginx:
    build: ./nginx
    volumes:
      - ./prod_data/static_volume:/home/app/web/staticfiles
    ports:
      - 8000:80
    depends_on:
      - web

  web:
    build:
      context: ./app
      dockerfile: Dockerfile.prod
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./prod_data/static_volume:/home/app/web/staticfiles
    expose:
      - 8000
    env_file:
      - .env.prod
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - ./prod_data/postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env.prod.db

  pgadmin:
    image: dpage/pgadmin4
    volumes:
      - ./prod_data/data_pgadmin:/var/lib/pgadmin
    env_file:
      - .env.prod.pga
    ports:
      - "8080:80"

  elasticsearch:
    image: elasticsearch:8.19.2
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - ./prod_data/esdata:/usr/share/elasticsearch/data
