{% extends "emedict/base.html" %}
{% block title %}Emedict: compound verbs{% endblock %}
{% block content %}
<a href="{% url 'emedict:index' %}">Home</a>

<div class="floatcont">
    <div class="leftfloat">
        <h2>By component noun</h2>
        <ul>
            {% for lem in nouns %}
            <li>
                <a href="{% url 'emedict:compverbcomp' lem.pk %}">{{ lem }}</a> 
                    ({{ lem.form_set.first.spelling_set.first }}): {{ lem.lemmadef_set.first }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="leftfloat">
        <h2>By component verb</h2>
        <ul>
            {% for lem in verbs %}
            <li><a href="{% url 'emedict:compverbcomp' lem.pk %}">{{ lem }}</a> 
                ({{ lem.form_set.first.spelling_set.first }}): {{ lem.lemmadef_set.first }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}