{% if lemma %}
<h1>{{ lemma.cf }}</h1>
<p><a href="{% url 'emedict:lemma_home' %}">Home</a></p>
<p>{{ lemma.cf }} ({{ lemma.pos }}): <a href="http://oracc.iaas.upenn.edu/epsd2/cbd/sux/{{oid}}.html">{{oid}}</a></p>
<h2>Definitions</h2>
<ul>
    {% for d in lemma.lemmadef_set.all %}
    <li>{{ d.definition }}</li>
    {% endfor %}
</ul>
<form>
    {{ adddef }}
    <input type="submit" value="Add Definition">
</form>

<h2>Spellings</h2>
<ul>
    {% for s in lemma.lemmaspelling_set.all %}
    <li>{{ s.spelling_lat }}</li>
    {% endfor %}
</ul>
{% if lemma.lemmatag_set.all %}
<h2>Tags</h2>
<ul>
    {% for tag in lemma.lemmatag_set.all %}
    <li><a href="{% url 'emedict:tag_id' tag.tag.id %}">{{ tag.tag }}</a> ({{ tag.tag.id }}) {{ tag.citation }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'emedict:lpos' lemma.pk %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in lemma.POS %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice }}">
        <label for="choice{{ forloop.counter }}">{{ choice }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Change POS">
</form>
{% else %}
<p>No lemmata are available.</p>
{% endif %}