<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" href="{% static 'emedict/style.css' %}">

<head>
    <title>{% block title %}Emedict: A Sumerian Dictionnary{% endblock %}</title>
</head>

<body>
    <div id="header">
        <h1>Emedict: A Sumerian Dictionnary</h1>
        <ul id="navbar">
            <li><a href="{% url 'emedict:index' %}">Home</a></li>
            <li><a href="{% url 'emedict:lemma_home' %}">Lemmata</a></li>
            <li><a href="{% url 'emedict:tags_home' %}">Tags</a></li>
            <li><a href="{% url 'emedict:comp_verbs' %}">Compound verbs</a></li>
            <li><a href="{% url 'emedict:lemesal' %}">Emesal</a></li>
            <li><a href="{% url 'emedict:txtsource_list' %}">Source texts</a></li>
            <li><a href="">About</a></li>
        </ul>
        <br>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <hr>
        <p>Emedict v. 0.4.0</p>
    </div>
</body>

</html>
