{% extends "emedict/base.html" %}
{% load emedict_extras %}
{% block title %}Emedict: lemmata{% endblock %}
{% block content %}

<form action="{% url 'emedict:lemma_home' %}" method="get">
    {{ lem_init_form }}
    <input type="submit" value="Submit">
</form>
<br>
<form action="{% url 'emedict:lemma_search' %}" method="get">
    {{ lem_search_form }} <input type="submit" value="Submit">
</form>
<div class="wrapper" >
    <div class="sidebar">
        <form action="{% url 'emedict:facet_landing' %}" method="get">
            {{ sidebar_form }}
            <input type="submit" value="Filter">
        </form>
    </div>
    {% if lemmalist %}
    <div class="main">
        {% block lem_main %}{% endblock %}
        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if lemmalist.has_previous %}
                    <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
                    <a href="?{% url_replace request 'page' lemmalist.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ lemmalist.number }} of {{ lemmalist.paginator.num_pages }}.
                </span>

                {% if lemmalist.has_next %}
                    <a href="?{% url_replace request 'page' lemmalist.next_page_number %}">next</a>
                    <a href="?{% url_replace request 'page' lemmalist.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>

{% else %}
    <div class="main">
        <ul>
            <p>No lemmata are available.</p>
        </ul>
    </div>
</div>

{% endif %}

{% endblock %}