{% extends "emedict/base.html" %}

{% block title %}
{% if lemma %}Emedict: {{lemma.cf}}{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'emedict:lemma_home' %}" method="get">
    {{ lem_init_form }}
    <input type="submit" value="Submit">
</form>
<br>
<form action="{% url 'emedict:lemma_search' %}" method="get">
    {{ lem_search_form }} <input type="submit" value="Submit">
</form>
{% if lemma %}
<h1>{{ lemma.cf|title }}
    {% if lemma.form_set.first.spelling_set.first.spelling_cun %}
    ({{lemma.form_set.first.spelling_set.first.spelling_cun}})
    {% endif %}</h1>

<p>
     <a href="{{ admin_edit }}">Edit</a>
    | <a href="{% url 'emedict:lemma_json' lemma.pk %}">json-ld</a>
    | <a href="{% url 'emedict:lemma_ttl' lemma.pk %}">ttl</a></p>
<p>{{ lemma.cf }} ({{ lemma.pos }}):
    {% for oid in lemma.lemmaoid_set.all %}
    <a href="https://oracc.museum.upenn.edu/epsd2/sux/{{oid}}">{{oid}}</a>
    {% endfor %}
</p>

{% if lemma.components.all %}
Components:
{% for comp in lemma.components.all %}
<ul>
<li><a href="{% url 'emedict:lemma' comp.pk %}">{{comp.cf}}</a> ({{comp.pos}}): {{comp.lemmadef_set.first}}</li>
</ul>
{% endfor %}
{% endif %}

<h2>Definitions</h2>
<ul>
    {% for d in lemma.lemmadef_set.all %}
    <li>{{ d.definition }}</li>
    {% endfor %}
</ul>

{% if lemma.notes %}
<p>Notes: {{lemma.notes}}</p>
{% endif %}

<div class="floatcont">
    <h2>Forms</h2>
    {% for f in lemma.form_set.all %}
    {% if emesal not in f.formtype.all %}
    <div class="leftfloat">
        <p><em>{{ f.cf }}</em>{% if f.formtype.all %} -
            {% for type in f.formtype.all %}{{ type.term }};
            {% endfor %}{% endif %}</p>
        <ul>
            {% for s in f.spelling_set.all %}
            <li>{{ s.spelling_lat }}{% if s.spelling_cun %}: {{s.spelling_cun}} {% endif %} {% if s.note %} – {{ s.note }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
    {% for f in lemma.form_set.all %}
    {% if emesal in f.formtype.all %}
    <div class="leftfloat">
        <p><em>{{ f.cf }}</em>{% if f.formtype.all %} -
            {% for type in f.formtype.all %}{{ type.term }};
            {% endfor %}{% endif %}</p>
        <ul>
            {% for s in f.spelling_set.all %}
            <li>{{ s.spelling_lat }}{% if s.spelling_cun %}: {{s.spelling_cun}} {% endif %} {% if s.note %} – {{ s.note }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% if lemma.lemmatag_set.all %}
<div>
    <h2>Tags</h2>
    <ul>
        {% for tag in lemma.lemmatag_set.all %}
        <li><a href="{% url 'emedict:tag_id' tag.tag.id %}">{{ tag.tag }}</a> {{ tag.citation }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if lemma.lemmacitation_set.all %}
<h2>Citations</h2>

{% for cite in lemma.lemmacitation_set.all %}
<ul>
    <li>{{ cite.citation }}</li>
    {% if cite.gloss %}<li>{{ cite.gloss }}</li>{% endif %}
    {% if cite.trans %}<li>{{ cite.trans }}</li>{% endif %}
    <li>(<a href="{% url 'emedict:txtsource' cite.source.id %}">{{ cite.source.title }}</a>{% if cite.lines %}; {{ cite.lines }}{% endif %})</li>
</ul>
{% endfor %}
{% endif %}

{% if used_in %}
<h2>Used in</h2>
<ul>
    {% for lem in used_in %}
    <li><a href="{% url 'emedict:lemma' lem.pk %}">{{ lem.cf }}</a>: {{ lem.lemmadef_set.first }}</li>
    {% endfor %}
</ul>
{% endif %}

{% else %}
<p>No lemmata are available.</p>
{% endif %}
{% endblock %}