asgiref==3.11.0
certifi==2026.1.4
Django==6.0
django-elasticsearch-dsl==9.0
djangorestframework==3.16.1
elastic-transport==9.2.1
elasticsearch==9.2.1
gunicorn==23.0.0
isodate==0.7.2
packaging==25.0
polars==1.36.1
psycopg2-binary==2.9.10
pyparsing==3.3.1
python-dateutil==2.9.0.post0
rdflib==7.5.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.6.2
wheel==0.45.1
